@{
    ViewData["Title"] = "Home Page";
}

@model PMProjet.Models.User

<html>
<head>
    <style>

        .container-fluid {
            padding-left : 0px;
            padding-right : 0px;
        }
        .bg {
            position: absolute;
            width: 100%;
            crop: rect(top, right, bottom, left);
            max-height: 90%;
            z-index: 0;
        }

        .content {
            padding-left: 5%;
            margin: 0 auto;
            position: relative;
            width: 100%;
            z-index: 999;
            color: white;
        }

        .content h1 {
            padding-top: 10%;
            color: white;
        }

        .content h2 {
            font-size: 20px;
            color: white;
        }
    </style>
</head>

<body>
        <img class="bg" src="~/images/tesla2.png" />
        <div class="content">
            @{ string fullName = Model.FirstName + " " + Model.LastName;
            <h1><b> @fullName</b></h1>
            }
            <h2> @Model.JobTitle</h2>
        </div>
</body>
</html>



