@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <link href="css/full-width-pics.css" rel="stylesheet">
    <style>
        body {
            padding-top: 0px;
            padding-bottom: 0px;
        }
    </style>
</head>
    <body>
        <img src="~/images/background.png" width="100%" />
    </body>
</html>



