@{
	ViewData["Title"] = "Reset password";
}

<html>
<body>
<br />
<div class="modal-dialog">
	<div class="loginmodal-container">
		<h1>Reset Password</h1><br>
		<form asp-area="" asp-controller="Login" asp-action="ResetPassword">
				
			<input type="text" name="Email" placeholder="Email">
			<input type="submit" name="login" class="login loginmodal-submit" value="Send me a new password">
		</form>

		<div class="login-help">
			<a asp-controller="Login" asp-action="Index">Login</a>
		</div>
	</div>
</div>
</body>
</html>