@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <style>
        .bg {
            position: absolute;
            width: 100%;
            crop:rect(top, right, bottom, left);
            max-height: 100%;
            z-index: 0;
        }

        .content {
            padding-left : 5%;
            margin: 0 auto;
            position: relative;
            width: 100%;
            z-index: 999;
            color:white;
        }

        .content h1{
            padding-top:10%;
            color: white;
        }

        .content h2 {
            font-size : 20px;
            color: white;
        }
    </style>
</head>
<body>
    <img class="bg" src="~/images/background.png" />
    <div class="content">
        <h1><b>Yannick LOUSSOUARN</b></h1>
        <h2> Software Engineer - Game Programmer</h2>
    </div>
</body>
</html>



